// Other Global Tools
html * {
    box-sizing: border-box;
    -webkit-font-smoothing: $font-smoothing;
    -webkit-text-size-adjust:none;
}

body {
    @include backface-visibility(visible);
}

.full {
  width: 100%;
}
