// Other Global Tools
html * {
    box-sizing: border-box;
    -webkit-font-smoothing: $font-smoothing;
    -webkit-text-size-adjust:none;
}

body {
    @include backface-visibility(visible);
}

// Tools
////////////////////////////////////////////////////////
.clearfix::before,
.clearfix::after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}
